{% extends 'dashboard/main.html' %}

{% block content %}
<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link text-secondary" href="{% url 'tasks' %}">All Assignments</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="true" href="{% url 'tasks_completed' %}">Completed Assignments</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-secondary" href="{% url 'tasks_incompleted' %}">Incompleted Assignments</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white bg-primary" href="{% url 'task-create' %}">Add Assignment</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
		<div class="row">
			<div class="col-md">
				<div class="card card-body">
					<table class="table">
						<tr>
              <th>Assignment</th>
    					<th>Name</th>
    					<th>Email</th>
    					<th>Status</th>
              <th><center>Edit</center></th>
              <th><center>Delete</center></th>
						</tr>
            {% for task in tasks %}
              <tr>
                <td><small>{{task.title}}</small></td>
                <td><small>{{task.customer.name}}</small></td>
                <td><small>{{task.customer.email}}</small></td>
                <td><small>{{task.status}}</small></td>
                <td><small><center><a class="btn btn-warning btn-sm" href="{% url 'task-edit' task.id %}">Edit</center></small></td>
                <td><small><center><a class="btn btn-danger btn-sm" href="">Delete</a></center></small></td>
              </tr>
            {% endfor %}
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
